* {
	font-family: 'PT Serif', serif ;
	font-size: 1rem ;
	line-height: 1.25rem ;
	font-kerning: normal ;
	font-display: swap ;
}

main {
	max-width: 40em; /* instead of 680px (slightly wider) */
	position: relative;
	margin: 50px auto 100px auto;
}

@media only screen and (max-width: 680px) {
	main { padding: 0 25px; }
}

span.heading {
	font-family: 'PT Sans', sans-serif ;
	font-size: 2rem;
	font-kerning: auto ;
}

span.keyword {
	font-family: 'PT Sans', sans-serif ;
	font-size: 1.25rem;
	font-kerning: auto ;
}

a {
	text-decoration: none;
	color: #8a100b;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #828282;
}

#email {
	font-family: 'Source Code Pro', monospace;
	font-size: inherit ;
	line-height: inherit ;
	font-kerning: inherit ;
}

img {
	width: auto ;
	max-width: 100% ;
	height: auto ;
	max-height: 70vh ;
}

img.align-right {
	width: auto ;
	max-width: 300px ;
	height: auto ;
	margin: 25px ;
	float: right;
}
