:root {
	--color-dark: #000000 ;
	--color-light: #ffffff ;
	--color-primary: #8a100b; /*the contrast against color-dark is only about 2:1*/
	--color-secondary: #828282 ;
	}

body {
	background: var(--color-light);
	color: var(--color-dark);
	margin: 2em auto 4em auto;
	width: auto;
	max-width: fit-content;
	font-family: 'PT Serif', serif;
}

main {
	max-width: 70ch;
	/*margin-right: 1em;
	margin-left: 1em;*/
	position: relative;
}

p {
	line-height: 120% ;
	font-kerning: normal ;
}

p.header {
	opacity: 0.33 ;
	margin-bottom: 3em ;
}

p.header-home {
	margin-bottom: 3em;
}

p.header:hover {
	opacity: 1
}

p.back {
	text-align: right;
}

span.title {
	font-size: 300% ;
	line-height: 100%;
	font-kerning: auto ;
}

span.subtitle {
	font-size: 100%;
	font-kerning: auto;
	color: var(--color-secondary);
}

span.heading {
	font-size: 150% ;
	font-kerning: auto ;
}

span.keyword {
	font-weight: 700 ;
}

ul {
	font-size: 100% ;
	line-height: 120% ;
	font-kerning: normal ;
}

a {
	color: currentColor;
	text-decoration: underline var(--color-primary);
	text-underline-offset: 0.22em ;
	text-decoration-thickness: from-font ;
}

a:hover {
	color: var(--color-primary);
}

a:active {
	color: var(--color-secondary);
	text-decoration-color: var(--color-secondary) ;
}

a.home {
	color: var(--color-dark);
	text-decoration: none;
}

a.home:hover {
	text-decoration: underline ;
	text-underline-offset: auto ;
}

a.home:active {
	color: var(--color-primary) ;
}

a.gray-link {
	color: #828282;
	text-decoration: none ;
}
a.gray-link:hover {
	text-decoration: underline;
}

a.gray-link:active {
	color: var(--color-primary);
}

#email {
	font-family: 'Ubuntu Mono', monospace;
	font-size: inherit ;
	line-height: inherit ;
	font-kerning: inherit ;
}

figure {
	width: auto ;
	max-width: 100% ;
	height: auto ;
	max-height: 100% ;
	vertical-align: middle ;
	margin-left: auto ;
	margin-right: auto ;
	display: block ;
	margin-bottom: 1rem ;
}

figure.align-right {
	width: auto ;
	max-width: 50% ;
	height: auto ;
	max-height: 100% ;
	float: right;
	margin: 1rem;
}

img {
	width: auto ;
	max-width: 100% ;
	height: auto ;
	max-height: 90vh ;
	vertical-align: middle ;
	margin-left: auto ;
	margin-right: auto ;
	display: block ;
}

figcaption {
	color: var(--color-secondary);
	font-size: 80% ;
	text-align: center;
	height: auto ;
	width: 70%;
	margin: auto;
	margin-top: 0.3em ;
}

footer {
	color: var(--color-secondary);
	font-size: 80% ;
	padding-top: 3em ;
}

@media only screen and (max-device-width: 480px) {
	body { display: block; 
		position: relative;
		margin-right: 1em;
		margin-left: 1em;
		width: auto;
		max-width: 100%;}
