body {
	display: flex;
	margin: 3em auto 6em auto;
	width: auto;
	max-width: fit-content;
}

main {
	max-width: 40em; /* instead of 680px (slightly narrower) */
	/*margin: 3em auto 6em 20% ; /* top right bottom left */
	margin-right: 1em;
	margin-left: 1em;
	position: relative;
	font-family: 'PT Serif', serif ;
	font-size: 100% ;
	line-height: 120% ;
	font-kerning: normal ;
}

nav {
	margin-top: 3em ;
	margin-right: 3%;
	margin-left: 1.5%;
	text-align: right;
	max-width: 13em;
	width: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	vertical-align: middle;
	height: 100%;
	position: sticky;
	top: 0;
}

p {
	font-family: 'PT Serif', serif ;
	font-size: 100% ;
	line-height: 120% ;
	font-kerning: normal ;
}

span.title {
	font-family: 'PT Serif', serif ;
	font-size: 300% ;
	line-height: 100%;
	font-kerning: auto ;
}

span.subtitle {
	font: inherit;
	font-size: 100%;
	font-kerning: auto;
	color: #828282;
}

span.heading {
	font-family: 'PT Serif', serif ;
	font-size: 150% ;
	font-kerning: auto ;
}

span.keyword {
	font-weight: 700 ;
}

ul {
	font-family: 'PT Serif', serif ;
	font-size: 100% ;
	line-height: 120% ;
	font-kerning: normal ;
}

a {
	text-decoration: none;
	color: #8a100b;
}

a.home {
	color:#000000;
	display: block;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #828282;
}

#email {
	font-family: 'Ubuntu Mono', monospace;
	font-size: inherit ;
	line-height: inherit ;
	font-kerning: inherit ;
}

figure {
	width: auto ;
	max-width: 100% ;
	height: auto ;
	max-height: 100% ;
	vertical-align: middle ;
	margin-left: auto ;
	margin-right: auto ;
	display: block ;
	margin-bottom: 1rem ;
}

figure.align-right {
	width: auto ;
	max-width: 50% ;
	height: auto ;
	max-height: 100% ;
	float: right;
	margin: 1rem;
}

img {
	width: auto ;
	max-width: 100% ;
	height: auto ;
	max-height: 90vh ;
	vertical-align: middle ;
	margin-left: auto ;
	margin-right: auto ;
	display: block ;
}

figcaption {
	font-family: 'PT Serif', serif ;
	color: #828282;
	font-size: 80% ;
	text-align: left;
	height: auto ;
}

@media only screen and (max-device-width: 480px) {
	body { display: block; 
		position: relative;
		margin-right: 1em;
		margin-left: 1em;}
	nav { position: inherit; 
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
